[2018-10-01 10:51] Roshanjossey opened #1 "Add projects to project list"
It'd be awesome to have a lot more suggested projects

🐞 Problem
Currently we have only a bunch of projects in project suggestions

🎯 Goal
Have a lot of project suggestions from diverse domains, languages, frameworks

💡 Possible solutions
Add new projects.
We maintain the list of projects at https://github.com/firstcontributions/firstcontributions.github.io/blob/source/src/components/ProjectList/l

[2018-10-01 11:34] Roshanjossey opened #2 "Add an issue template"
We can have the same issue template that we use in first-contributions

https://raw.githubusercontent.com/firstcontributions/first-contributions/master/.github/ISSUE_TEMPLATE.md

[2018-10-01 12:12] achiv commented on #1
I would try to solve this issue.

[2018-10-01 12:43] achiv commented on #1
@Roshanjossey Made a PR #3 . Please review

[2018-10-01 15:59] Roshanjossey opened #4 "Add ifme to project list"
Here's a link to beginner friendly issues in ifme https://github.com/ifmeorg/ifme/issues?q=is%3Aissue+is%3Aopen+label%3A%22beginner+friendly%22

Go through #1 to figure out how to go about doing this.

[2018-10-01 16:02] Roshanjossey opened #5 "Add opensourcedesign to project list"
Here's a link to beginner level issues in opensourcedesign https://github.com/opensourcedesign/opensourcedesign.github.io/issues?q=is%3Aissue+is%3Aopen+label%3A%22starter+issue%22

You can figure out how to do this by going to #1

[2018-10-01 16:04] sourabh1031 commented on #2
@Roshanjossey i would like to work on this.can you please tell what is expected from me

[2018-10-01 16:11] achiv commented on #4
I would like to work on this

[2018-10-01 16:57] IAMOTZ commented on #4
Hi @Roshanjossey
I would like to claim this issue.

[2018-10-01 16:59] IAMOTZ commented on #5
Hi @Roshanjossey
I would like to claim this issue.

[2018-10-02 07:12] Roshanjossey commented on #2
@sourabh1031, create a file named ISSUE_TEMPLATE.md in this project. Use the same text as in the link shared above.

[2018-10-02 07:12] Roshanjossey commented on #5
@IAMOTZ, Sure. go ahead.

[2018-10-02 07:52] IAMOTZ commented on #5
Just raised a PR for this: https://github.com/firstcontributions/firstcontributions.github.io/pull/7

[2018-10-02 08:18] Roshanjossey commented on #5
Looks good @IAMOTZ. Thank you for making this change.

[2018-10-02 08:36] IAMOTZ commented on #4
Hi @Roshanjossey
I am okay with leaving this issue for another beginner.
Would love to get recommendations on projects that I can contribute to. I am a javascript engineer focused on the PERN(Postgres Express React Node) stack.
Thanks.

[2018-10-02 09:12] Roshanjossey commented on #4
https://github.com/freeCodeCamp/mail-for-good/issues
https://github.com/TryGhost/Ghost/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22
https://github.com/hoodiehq/hoodie/issues
https://github.com/probot/probot/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue+%F0%9F%8E%88%22

[2018-10-02 10:20] swardhan opened #8 "Add Contributing.md"
Add a CONTRIBUTING.md as a tutorial for other contributors.

[2018-10-02 11:29] swardhan commented on #8
@Roshanjossey Should I add something else?

[2018-10-02 11:33] Roshanjossey commented on #8
I've merged your PR. We'll get more people to use it and incrementally make changes if necessary

[2018-10-02 11:33] #8 closed

[2018-10-02 12:37] swardhan opened #10 "Customizing the Navbar by adding icons to links"
🐞 **Problem**
The header and navbar aren't very detailed in design terms.

🎯 **Goal**
Adding Icons beside the links to twitter, github and slack.

[2018-10-02 16:11] Alumenium commented on #4
Hey @Roshanjossey, I would like to work on this issue.

[2018-10-02 16:19] Roshanjossey commented on #4
@Alumenium, go ahead.

[2018-10-02 16:22] Alumenium commented on #4
@Roshanjossey made a PR, please review.

[2018-10-03 03:17] svcastaneda commented on #10
I can pick this one up! ✨

[2018-10-03 07:45] Roshanjossey opened #13 "Add hacktoberfest hash tag to tweets"
Adding hacktoberfest tag in our tweets will give it more visibility.

🎯 **Goal**
Reach out to more people who follows hacktoberfest tag on twitter.

💡 **Possible solutions**
Change twitter share link https://github.com/firstcontributions/firstcontributions.github.io/blob/source/src/components/SocialShare/Twitter.jsx#L4

from

[code]

to

[code]

📋  **Steps to solve the problem**

*   Comment below

[2018-10-03 07:48] Roshanjossey commented on #10
Hi @svcastaneda, I'm thrilled to see someone working with GitHub here. I'd love to learn your feedback about this project and get all the help I can from you.

@swardhan has already started working on this issue. Could you please help to review those changes once a pull request is raised?

If you wanna work on something now, you could take up #13 too.

[2018-10-03 07:50] Darkpingouin commented on #13
I'm working on it :)

[2018-10-03 11:04] Roshanjossey commented on #13
@Darkpingouin, do you know if there is something similar to tags in facebook and linkedin share?

[2018-10-03 11:15] CarlosUvaSilva opened #15 "Fix width (and maybe height) of cards"
Cards are not full width in some cases and heigth is different depending on number of tags or description length.
🐞 **Problem**
Full width for all cards and maybe fixed height. Need to test this last enhancement.
🎯 **Goal**
Looks nicer when all the cards have same size

[2018-10-03 11:16] CarlosUvaSilva commented on #15
I'm working on this one for Hacktober Fest

[2018-10-03 12:36] CarlosUvaSilva commented on #15
Can you give me permissions to write to a new branch? Would like to create a PR

[2018-10-03 12:57] Darkpingouin commented on #13
@Roshanjossey I have no idea but I could look it up and add Hacktoberfest on them like I did on my pull request for Twitter

[2018-10-03 12:59] Roshanjossey commented on #15
@CarlosUvaSilva, fork this project, create a branch there. Push to it and submit a pull request.

Read this to learn more about it https://github.com/firstcontributions/first-contributions/blob/master/README.md

Also I didn't quite understand what you're trying to achieve. Could you please share screenshots/ proposed design?

[2018-10-03 13:14] CarlosUvaSilva commented on #15
I'm not at home atm, I'll submit the PR when I get there.
what I'm trying to fix is the difference in width inside the card. I believe this is due to the fact that the image's width is different between cards

![screen shot 2018-10-03 at 14 12 23](https://user-images.githubusercontent.com/6827956/46412414-6dca9100-c716-11e8-80ca-9004a7715ba7.png)

[2018-10-03 13:15] Roshanjossey commented on #13
@Darkpingouin, cool. Please create issues for them as well.

[2018-10-03 13:20] Roshanjossey commented on #15
@CarlosUvaSilva, got it. I hadn't checked this is smaller screens.

Please take your time. No need to hurry.

[2018-10-05 08:08] Darkpingouin opened #19 "Adding Hacktoberfest Tags to Facebook share"
Adding tags to facebook share to have more visibility (same as #13 but for Facebook share)

🎯 **Goal**
Reach out to more people who follows hacktoberfest tag on facebook.

💡 **Possible solutions**
Change the link in https://github.com/firstcontributions/firstcontributions.github.io/blob/source/src/components/SocialShare/Facebook.jsx

📋  **Steps to solve the problem**

*   Comment below about what

[2018-10-05 08:09] Darkpingouin commented on #19
I'm working on it

[2018-10-05 21:43] sebryu commented on #1
I added React Native project, please review #23

[2018-10-11 09:34] Rohit777 opened #25 "logo image link is broken in Ruby Koans card"
🐞 **Problem**
in Ruby koans card  logo image link is broken

🎯 **Goal**
look nicer if the logo image is visible

[2018-10-11 09:41] Rohit777 commented on #25
I'm working on this one for Hacktober Fest

Can you give me permissions to write to a new branch? Would like to create a PR

[2018-10-11 17:20] Roshanjossey commented on #25
You don't need write permissions to the repo to create PR. You fork it and create branches there. But I guess you've figured that out.

[2018-10-11 17:21] Roshanjossey commented on #25
Fixed in #26

[2018-10-11 17:21] #25 closed

[2018-10-15 10:38] estellerostan opened #30 "Mixed passive/display <img> (src attribute)"
Loading mixed (insecure) display content on a secure page shows the "Your connection to this site is not fully secured" (Chrome) / "Connection is not secure" (Firefox) message in the address bar.

🐞 **Problem**

The HTTP request to http://hoodiehq.github.io/hoodie-css/src/content_img/animals/low-profile-dog-3.png is the problem.

🎯 **Goal**

Reclaim the "Secure Connection" in the address bar.
And

[2018-10-15 10:40] estellerostan commented on #30
#27 fixes this issue but maybe it is better to create a separate PR?

[2018-10-15 15:59] Roshanjossey commented on #30
@estellerostan, I've merged #27 now. I'm not sure why we need a separate PR now.

[2018-10-15 16:02] estellerostan commented on #30
Thank you!
It's all good another PR is not useful.

[2018-10-15 16:02] #30 closed

[2018-10-15 16:14] Roshanjossey commented on #30
Thank you again @estellerostan 🖖

[2019-04-03 17:58] oxr463 opened #44 "Branch for GitHub Pages not being updated with new projects"
@Roshanjossey, @sara-02 this was pushed, but the `gh-pages` branch does not look like it has been updated.

_Originally posted by @oxr463 in https://github.com/firstcontributions/firstcontributions.github.io/pull/40#issuecomment-469096436_

[2019-04-04 10:10] sara-02 commented on #4
Merged in #7

[2019-04-04 10:10] #4 closed

[2019-04-04 10:11] sara-02 commented on #2
Fixed and merged in #6

[2019-04-04 10:11] #2 closed

[2019-04-04 10:13] sara-02 commented on #5
Fixed and merged in #7

[2019-04-04 10:13] #5 closed

[2019-04-04 10:15] sara-02 commented on #13
Fixed in #14

[2019-04-04 10:15] #13 closed

[2019-04-04 10:27] sara-02 commented on #44
IMHO I don't think it is an issue with GH pages. GH pages branch only provide the placeholder for the project list, the issue seems to be with deployment. Once the new deployment is run, it should pick the latest list of projects and you should see PRoot being listed.
@Roshanjossey can shed more light on it.

[2019-04-04 10:35] sara-02 commented on #19
Fixed in #20

[2019-04-04 10:35] #19 closed

[2019-04-04 10:52] sara-02 commented on #15
@Rohit777 @CarlosUvaSilva is this issue fixed?

[2019-04-12 20:37] oxr463 commented on #44
Has the new deployment been run yet?

[2019-04-25 09:08] jancborchardt opened #47 "Sorting of projects always presents the same projects presently"
🐞 **Problem**
Currently every time you open the page, the first projects everyone sees are React, React Native and Exercism. As people most probably browse and don’t search for a specific project, that gives projects which were added later (or which are smaller and less known than React) less exposure.

🎯 **Goal**
The goal is to present every project on an equal footing. And to also show the varie

[2019-05-13 12:04] gopkumr opened #48 "Compilation Error "Can't resolve './Google'""
🐞 **Problem**
Take the latest version of the source branch code and run the build command, results in compilation error
Module not found: Error: Can't resolve './Google'  in:\Projects\firstcontributions.github.io\src\components\SocialShare'

🎯 **Goal**
To fix the compilation error so that the solution can be executed.

💡 **Possible solutions**
PR #41 a few days back removed the Google+ JSX file an

[2019-05-13 12:05] gopkumr commented on #48
I have the fix ready for this issue. Will submit a PR soon.

[2019-05-13 12:41] gopkumr commented on #47
I like the suggestion, in case @Roshanjossey likes it too, i have PR implemented this.

[2019-05-13 22:23] jancborchardt commented on #47
@gopkumr good stuff! Maybe just open a pull request for it, then everyone can test and review. :)

[2019-05-13 22:57] gopkumr commented on #47
@jancborchardt I have already opened a pull request for the change. PR #50 Randomised Sorting of cards is  with their changes.

[2019-05-18 15:49] #48 closed

[2019-05-20 20:52] #47 closed

[2019-08-05 18:55] sara-02 commented on #44
ping @Roshanjossey maybe you could help answer this one.

[2019-08-11 10:53] krishnagit2402 commented on #1
I added NextJs project. Kindly review -
https://github.com/firstcontributions/firstcontributions.github.io/pull/55

[2019-09-28 21:52] isa3bel commented on #10
is this issue resolved?

[2019-09-30 16:09] eduayme opened #64 "Broken Teammates image"
🐞 **Problem**
The Teammates image is broken.
<img width="1417" alt="Screenshot 2019-09-30 at 18 09 29" src="https://user-images.githubusercontent.com/26260104/65896448-8f07a100-e3ad-11e9-93c2-fa46d9b53486.png">

🎯 **Goal**
The Teammates card must have a valid logo.

💡 **Possible solutions**
Get a new url image and change it for the current one.

📋  **Steps to solve the problem**
- Get a valid Team

[2019-10-01 09:12] Apoorva-13 commented on #64
Hey, I would like to take this up

[2019-10-01 09:15] sara-02 commented on #64
@Apoorva-13 sure, go ahead.

[2019-10-01 12:23] Apoorva-13 commented on #64
Hey
would this logo do ??
[(https://teammatesv4.appspot.com/images/teammateslogo.png)]

[2019-10-01 13:35] sara-02 commented on #64
@Apoorva-13 Yes, this is the right place to add.

[2019-10-01 16:56] sara-02 opened #67 "Add Conda Project to the project list"
As a followup on the PR https://github.com/firstcontributions/first-contributions/pull/19582, we can add the Conda project to the list of projects.
* Possible tags like `ML`, `Python`, `Builds` , `package manager` etc.
* Link to the github org: https://github.com/conda
* Link to logo: https://conda.io/en/latest/_images/conda_logo.svg

[2019-10-02 07:44] Apoorva-13 commented on #67
hey, can i work on this?

[2019-10-02 07:52] sara-02 commented on #67
@Apoorva-13 sure.

[2019-10-02 09:20] #67 closed

[2019-10-02 09:20] #64 closed

[2019-10-02 17:38] sara-02 opened #71 "Fix Casing Inconsistency In Tags."
Some of the tags are in Capital letters, some in small. I suggest we Capitalise the tags[the first letter of each word in tagset] and use make them uniform.

🎯 **Goal**

- [ ] Fix the upper/lower case inconsistency in tags.

- [ ] Also, add a comment at the EOF which states the casing format to be used for tags. It will be useful for future contributors.

- [ ] Add `text-transform: capitalize` to

[2019-10-02 18:00] vivek1996 commented on #71
Hi @sara-02 , I would like to contribute for this issue. May I know where the issue is. Please point out any one so it would be easy. Thank You.

[2019-10-02 18:10] sara-02 commented on #71
@vivek1996 this is the file that needs fixing: https://github.com/firstcontributions/firstcontributions.github.io/blob/source/src/components/ProjectList/listOfProjects.js

[2019-10-02 18:55] andreaslorozco commented on #71
An additional idea could be adding `text-transform: capitalize;` to the tag CSS (maybe as a fallback?)

[2019-10-02 19:29] sara-02 commented on #71
@andreaslorozco I am assuming this is the file where we add? https://github.com/firstcontributions/firstcontributions.github.io/blob/source/src/App.css

[2019-10-02 19:32] andreaslorozco commented on #71
This should be a better place since there's CSS there that's already targeting each tag: https://github.com/firstcontributions/firstcontributions.github.io/blob/source/src/components/ProjectList/css/project-cards.css#L87

[2019-10-02 19:36] sara-02 commented on #71
Got it.

[2019-10-02 19:39] sara-02 commented on #71
@vivek1996 as per the discussion above, I have updated the issue.

[2019-10-04 14:34] #71 closed

[2019-10-07 22:34] darkmattercoder commented on #1
I added Moby. Plz review #75

[2019-10-10 08:04] Roshanjossey commented on #44
Hi, sorry that I've been away for some time. I've deployed the latest version yesterday.

I think it's high time we setup CI for this.

@sara-02 , if you're interested in knowing how deployment works, I'll put more information here. You should also have access to deploy

[2019-10-10 09:24] sara-02 commented on #44
@Roshanjossey Sure will get in touch with you regarding that.

[2019-10-10 09:36] sara-02 commented on #44
BTW looks like we can close this. @oxr463 please reopen it if the changes you are expecting are not visible yet.

[2019-10-10 09:36] #44 closed

[2019-10-10 14:20] Roshanjossey opened #76 "Should we move to `/contribute` link for all projects"
Discuss the benefits and drawbacks for using `repo-link/contribute` provided by GitHub instead of issue filters we have.

This is the [issue ](https://github.com/firstcontributions/first-contributions/issues/19133) that suggested this change

This is the [pull request](https://github.com/firstcontributions/firstcontributions.github.io/pull/58) that made the require changes.

This is a [comment](ht

[2019-10-10 14:42] sara-02 commented on #76
Even I need to read how the /contribute attribute works, lets sync on this once we have an idea about its working, then we can see if it works for a majority of the cases or not.

[2019-10-14 17:39] tiferet commented on #76
Happy to share any insights into /contribute and discuss...

[2019-10-14 17:47] akshita27 commented on #1
Kindly review #77. Added 2 more projects.

[2019-10-14 18:04] sara-02 commented on #76
@tiferet Sure, please let us know your findings. Honestly I am clueless about its working ATM

[2019-10-14 18:13] sara-02 commented on #1
@akshita27 left review comments on #77 kindly check. :)

[2019-10-14 18:26] tiferet commented on #76
I'm working on it at GitHub, so I can explain whatever you want.

[2019-10-14 20:23] R-Ligier opened #78 "CONTRIBUTING.md file lacking instructions"
I was following the CONTRIBUTING.md file to be able to make a contribution to the project. When I got to the "Running the Project" section and ran the command "yarn install", after following the previous steps, it did not work and said "command not found." This is obviously because I need to have yarn installed before I can run this command.

🐞 **Problem**

I would like to propose adding a line st

[2019-10-15 10:19] Roshanjossey commented on #78
Hi @R-Ligier , thank you for opening this issue.

There are some pre-requirements to run this project (node, yarn, etc). It'd be nice to have a pre-requirements section with link to install pages of these.

Would you like to work on this?

[2019-10-15 14:29] R-Ligier commented on #78
Hi @Roshanjossey - sure, i'd love to work on this.

[2019-10-15 15:26] Roshanjossey commented on #78
Cool. Go ahead.

[2019-10-15 15:29] #15 closed

[2019-10-18 17:02] sara-02 commented on #76
Do we have any blog posts or links where we can read about it working and/or get an overview of it.

[2019-10-18 17:50] tiferet commented on #76
Not yet. We're shipping a major new version soon and will write about it then.

Right now it's a very simple algorithm. Basically it just surfaces all issues that have any of about 300 labels we've identified as be synonyms for either `good first issue` or `documentation`. It ranks them both by the relevance of their labels and by their recency.

The next version will try to surface additional iss

[2019-10-19 20:35] R-Ligier commented on #78
Hi @Roshanjossey, I am not sure what to do about updating the CONTRIBUTING.md file. Im not sure if the issues I ran into are issues everyone may run into or not. I dont want to change anything if for the majority it does work. On my end, I had to remove the package-lock.json file and also used npm start instead of the yarn command.

Perhaps, I can add a line stating that the user must have node.js

[2019-10-20 10:25] gavv commented on #76
@tiferet BTW, in case of our project, listing documentation issues as good for contributors is not a good idea. These issues usually require in-depth knowledge about internals. Probably this is true for some other projects as well.

[2019-10-25 22:53] sara-02 opened #85 "Add graph based projects"
Add a few graph-based and graph visualization libraries.

- [x] Plotly

- [x] Networkx

- [x] Igraph

- [x] D3

[2019-10-26 03:19] hgcassiopeia commented on #85
Can I try this issue?

[2019-10-26 10:03] sara-02 commented on #85
@hgcassiopeia Left some review comments, kindly followup there :)

[2019-10-26 12:18] hgcassiopeia commented on #85
@sara-02 I will solved it 😄

[2019-10-26 13:23] Roshanjossey commented on #76
Thank you for participating in the discussion @tiferet, @gavv.

I went through `/contribute` links and I'm happy with them. I hope `help wanted` labels will be a part of this in the future.

@sara-02, I think we can continue with `/contribute` and make changes if the maintainers suggests them.

If you're happy, let's close this issue.

[2019-10-26 15:27] #85 closed

[2019-10-26 15:30] sara-02 commented on #76
@Roshanjossey sure. We can keep `/contribute` for consistency. And add exceptions on a case basis.
We should add this as a note in the how-to contribute section for the web app, so that people know when and where to add use `/contribute`

[2019-10-26 17:55] Ayushjain9501 commented on #1
Hey, I've started working on this. Will coon submit a pr

[2019-10-26 19:05] hermaplusplus commented on #1
Please review #89 :P

[2019-10-28 08:58] Roshanjossey commented on #78
Hi @R-Ligier, we'd like to stick with yarn as we had good experience with it so far.

Could you share the errors you're getting when you use yarn? I can help you there.

[2019-10-29 16:35] R-Ligier commented on #78
I actually was able to figure it out ... For some reason when I tried installing yarn via Homebrew `brew install yarn` it gave an error. But when I ran this script `curl -o- -L https://yarnpkg.com/install.sh | bash` it worked!

I will add a link to the CONTRIBUTING document on where users can install yarn.

[2019-10-29 16:51] R-Ligier commented on #78
Actually nvm :( I got this error.

![yarn error](https://user-images.githubusercontent.com/25729928/67789688-c6b84600-fa4a-11e9-8bc8-0516f585303f.png)

[2019-10-30 08:57] Roshanjossey commented on #78
First you have to run `yarn` or `yarn install` to install dependencies.

If you run in to problems there, delete `node_modules` and `package.lock.json` and try again.

We're bound to run into problems if we use multiple package managers. Then, there's no single source of truth.

@sara-02 , we have to make sure that we don't merge changes that adds `package.lock.json`

[2019-10-30 09:18] sara-02 commented on #78
Ok. So what do we do, add `package.lock.json` to gitignore?

[2019-10-30 09:20] Roshanjossey commented on #78
Yeah, that's a good plan

[2019-10-31 17:30] R-Ligier commented on #78
@Roshanjossey when i remove `node_modules` and `package.lock.json` it works fine.

In terms of solving this issue, what is the best way to let users know to do this if they run into an error? Should I just add a line that suggests to users to remove those files?

[2019-11-01 15:32] Roshanjossey commented on #78
`package.lock.json` is the one that's causing problems with yarn.

As @sara-02 suggested above, could you remove it and add it to `.gitignore`?

You could add a line suggesting contributors who runs in to problems with dependencies to try removing `node_modules`

[2019-11-02 18:50] R-Ligier commented on #78
Submitted a pull request.

[2019-11-05 13:34] Roshanjossey opened #96 "Add YouTube channel link"
🎯 **Goal**
Get more people to know about the YouTube channel

💡 **Possible solutions**
Add a [link to our Youtube channel](https://www.youtube.com/channel/UCMXNFxCvyH5LhUwEcmY8qGQ) `https://www.youtube.com/channel/UCMXNFxCvyH5LhUwEcmY8qGQ` in our web app.
We have navigation links in `src/components/Navbar/Navbar.jsx`.

It could be placed between Slack and twitter link.

📋  **Steps to solve the pro

[2019-11-05 15:49] Roshanjossey commented on #78
@sara-02, shall we close this? I've removed `package-lock.json`. Let's revisit `yarn` vs `npm` if the community asks for it.

[Unrelated]: @R-Ligier dislikes jury duty but thinks that you're a pretty nice maintainer https://hunter-college-ossd-fall-2019.github.io/R-Ligier-weekly/week08/

[2019-11-06 05:09] Salmankhancodes commented on #96
can i solve this issue...and if yes i wanna know do i have to create new branch ?

[2019-11-06 07:40] #78 closed

[2019-11-06 08:01] sara-02 commented on #96
I guess you were able to figure out how to create a new branch.

[2019-11-06 08:01] #96 closed

[2019-11-06 08:13] Salmankhancodes commented on #96
yess😊

[2019-11-06 09:49] Roshanjossey commented on #96
Thank you for taking care of this @Salmankhancodes , @sara-02

It's live now

[2019-11-06 09:56] #76 closed

[2019-11-06 10:29] Roshanjossey opened #98 "Improve Readme"
Have content in the Readme to suit the project better

🐞 **Problem**
Currently, we have default Readme generated by `Create React App`. As much as this is useful, we can have a Readme that's tailored to this project that helps contributors and users better.

🎯 **Goal**
Have a cool , awesome Readme

💡 **Possible solutions**
Let's have a discussion about what makes a Readme effective. What we need f

[2019-11-06 10:40] Roshanjossey commented on #98
Some of the Readmes I like a lot

https://github.com/gitpoint/git-point/blob/master/README.md
https://github.com/ryanoasis/nerd-fonts/blob/master/readme.md
https://github.com/thelounge/thelounge/blob/master/README.md

And links to bunch of others https://github.com/matiassingers/awesome-readme

[2019-12-10 14:55] oxr463 opened #102 "Support for GitLab"
I would like to add projects that are hosted on GitLab, (not just [.com](https://gitlab.com), but also other instances as well, e.g. <https://code.ungleich.ch>).

Instead of `githubLink`, it could be `projectLink`. Not sure what all is needed to make this happen.

[code]
Source: https://github.com/firstcontributions/firstcontributions.github.io/blob/source/src/components/ProjectList/listOfProjects

[2019-12-24 17:37] NdibeRaymond commented on #102
i would like to take on this issue.

[2019-12-24 23:24] sreeram-muddu commented on #1
Added styled-system project #103. Please review

[2020-01-04 19:45] NdibeRaymond commented on #102
any body has any idea on how to go about this?

[2020-01-05 05:12] sara-02 commented on #102
Hey @NdibeRaymond so there are 2 possible ways for now:
Change the variable `githublink` to `projectlink` in this file and and the files that render this page's info.
Or add the gitlab project using the same variable for the time being and if more gitlab projects get added then we can make the change.

[2020-01-05 05:13] sara-02 commented on #102
You are more than welcome to pick any approach and add the PR accordingly.

[2020-01-06 21:36] NdibeRaymond commented on #102
the first approach seems more robust. will be submitting a PR

[2020-01-09 17:30] ahmadshalabi opened #105 "Fix the falling social share unit tests"
I notice that the social sharing unit tests are failed after the changes done at [de62ac6](https://github.com/firstcontributions/firstcontributions.github.io/commit/3ebc544e7e0af6af705d5e11397cdd7a26d1e183#diff-238f88418efc0414f4a48efdd56ed334)

🐞 **Problem**
**rel** attribute is missing from the test snaps

🎯 **Goal**
Make unit tests passed

💡 **Possible solutions**
Adding rel attribute for the a

[2020-01-09 17:49] ahmadshalabi opened #107 "Fix mismatched property value in App.css"
🐞 **Problem**
There is a mismatch in the property **middle** which is assigned to **align-items**

🎯 **Goal**
Clear the broken CSS style

💡 **Possible solutions**
Remove `align-items: middle;` from App.css since it isn't needed.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in c

[2020-01-13 18:51] #105 closed

[2020-01-19 23:40] #107 closed

[2020-03-15 16:09] heitorPB commented on #1
Added [Darktable](https://darktable.org) in #117. Could you review please?

ps: should the listOfProjects file be in alphabetical order?

[2020-03-16 14:55] heitorPB commented on #102
Should this issue be closed now?

[2020-03-16 15:46] #102 closed

[2020-05-21 20:11] marianovarela commented on #98
Hi, I'd like to help out and propose a new readme

[2020-05-22 00:08] sara-02 commented on #98
@marianovarela awesome, you can share some of the ideas on the issue here or create a Work in Progress [WIP] PR with your proposed idea and tag us to review.

[2020-05-22 11:42] mohak852 commented on #10
i have solved this issue and created a pull request kindly merge this pull request

[2020-05-23 15:00] mohak852 commented on #10
Any updates on my pull request

[2020-05-23 15:10] sara-02 commented on #10
@mohak852 Sorry I forgot to ask, can you please share a screenshot from your localhost with the updated changes.

[2020-05-23 15:11] sara-02 commented on #10
As in running the website locally and screenshot the new UI

[2020-05-23 15:50] mohak852 commented on #10
![Screenshot from 2020-05-24 02-46-14](https://user-images.githubusercontent.com/58987025/82734849-2786d300-9d3b-11ea-8d00-5c791d6d7c04.png)

[2020-05-28 18:03] marianovarela commented on #98
Is it desirable that the heading
"This project was bootstrapped with Create React App.
Below you will find some information on how to perform common tasks.
You can find the most recent version of this guide here."
appears in the README or can we remove it?

[2020-05-29 08:22] Roshanjossey commented on #98
I'd say we rather remove it.

1. This information is only relevant to updating react part of the code. Most pull requests we get is not about this.
2. It's better to link to the documentation of Create React app here. They'll have the up-to-date documentation.
3. For running the app locally, the contributor need not know about CRA.
    `yarn`
    `yarn start`
is enough.

[2020-05-29 13:09] mohak852 opened #123 "Adding Flutter in Projects"
Adding flutter for Android and ios app development
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comments section of pull request.
*   Celebrate your co

[2020-05-29 14:37] TomerPacific commented on #123
I can take this on, if no one has any objection.

[2020-05-29 14:59] mohak852 commented on #123
I have already filed a PR and waiting for their responce

[2020-05-29 17:41] mohak852 commented on #123
any update @sara-02 on this

[2020-05-29 19:28] TomerPacific commented on #123
@mohak852  - I would suggest you link to your PR here.

[2020-05-30 03:28] sara-02 commented on #123
@mohak852 there are review comments on your PR, kindly look into them, and after that we can merge them :)

[2020-05-30 03:34] sara-02 commented on #10
@mohak852 Since your PR is merged can we close this issue now? Or are there some aspects of this issue that you are still working on?

[2020-05-30 18:03] #123 closed

[2020-05-30 19:54] mohak852 commented on #10
Ya you can close this issue

[2020-05-31 02:03] #10 closed

[2020-06-08 15:33] Deep1144 opened #128 "padding and overlapping issue for mobile responsive design on home page"
🐞 **Problem**
- Filter and search options are overlapping in mobile design
- card in project list require some padding in mobile design

![stylingissue](https://user-images.githubusercontent.com/47331078/84050272-20aec000-a9cb-11ea-956f-4fbf0bbaa62d.png)

💡 **Possible solutions**

![stylingfix](https://user-images.githubusercontent.com/47331078/84050468-6c616980-a9cb-11ea-9348-a914e238ae76.png)

[2020-06-08 15:36] Deep1144 commented on #128
#129 have created a pull request for issue fix .
After applying my fix
![stylingfix](https://user-images.githubusercontent.com/47331078/84050799-d7ab3b80-a9cb-11ea-9351-0d3b90959de8.png)

[2020-07-24 19:40] #98 closed

[2020-07-24 19:41] #128 closed

[2020-07-31 15:36] ming-tsai commented on #1
@Roshanjossey I added **CSS-Art** and **start-here-guidelines** on PR #134

[2020-08-01 22:49] muke1908 commented on #1
@Roshanjossey  Added an interesting project on chat application - [PR ](https://github.com/firstcontributions/firstcontributions.github.io/pull/135)

[2020-08-13 07:43] imjoseangel opened #136 "Fix Images on List of Project List"
🐞 **Problem**

Some project images under the home page doesn't exist hence doesn't load properly

🎯 **Goal**

Fix broken links to load proper images

💡 **Possible solutions**

Fix on [listofprjeclistOfProjects.js](https://github.com/firstcontributions/firstcontributions.github.io/blob/source/src/components/ProjectList/listOfProjects.js) file.

📋  **Steps to solve the problem**

*   Comment below a

[2020-08-13 10:07] ValKiriann commented on #136
Detected images to fix: Hyper, Game of life, Gatsby.
I am going to fix it now 🥇

[2020-08-13 13:50] #136 closed

[2020-09-20 05:11] vj-codes opened #139 "Update logo and repo link from systers to anitab-org"
Systers has moved to https://github.com/anitab-org .
Update logo and repo link in Projects section

🐞 **Problem**
Unaccurate logo and link

🎯 **Goal**
To keep this repo up to date fix the problem mentioned

[2020-09-20 05:11] vj-codes commented on #139
@sara-02 I would like to work on this .Thanks!

[2020-09-20 05:24] vj-codes opened #140 "Broken link after clicking the Slack button"
After I click the slack button , I get an error as
[code]

🐞 **Problem**
Slack channel links expire after a certain amount of time .

🎯 **Goal**
Update the current invite link

[2020-09-20 12:38] Roshanjossey commented on #139
@vj-codes, Sure, go ahead.

[2020-09-20 12:39] Roshanjossey commented on #140
@vj-codes , please refer to https://github.com/firstcontributions/first-contributions/issues/30565

[2020-09-26 06:24] HADES-01 commented on #139
Is this issue still open ???

[2020-10-01 08:10] Akash1362000 commented on #1
@Roshanjossey I would like to work on this issue.

[2020-10-01 08:32] Akash1362000 commented on #1
Added an open source chat repository #143
Please review. If there are any changes to be made, please let me know.

[2020-10-01 09:07] aryasoni98 opened #144 "Add projects to project list 2020"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-10-01 09:28] Roshanjossey commented on #144
@aryasoni98, do we need another issue for the same thing https://github.com/firstcontributions/firstcontributions.github.io/issues/1 is doing?

 - https://github.com/firstcontributions/firstcontributions.github.io/issues/1 is still open.
 - It has a detailed description on how to handle the issue
 - It has pull requests linked to it that could help anybody looking for reference.

[2020-10-01 09:32] aryasoni98 commented on #1
@Roshanjossey I would like to work on this issue.
Update Open Sources Global Project 2020

[2020-10-01 09:32] #144 closed

[2020-10-01 10:27] Akash1362000 commented on #1
@Roshanjossey Made necessary changes to #143 as instructed. Please review.

[2020-10-01 10:34] Roshanjossey commented on #1
@Akash1362000, merged.

@aryasoni98, sure. Go ahead.

[2020-10-04 11:12] #140 closed

[2020-10-04 16:32] Narasimha1997 commented on #1
Please review #150 , I am adding two of my projects.
Regards

[2020-10-05 10:01] mamitiana4 opened #151 "Change component type of LinkButton"
The LinkButton component is a dumb one so it is better to change it to a functional component.

[2020-10-07 19:56] sachin-duhan26 commented on #139
@Roshanjossey considering no significant progress for 18 days, I would like to work on this issue.
I have already collected the updated links and logos to various projects that are missing on https://firstcontributions.github.io

[2020-10-08 03:22] vj-codes commented on #139
@sachin-duhan26 hey I created a PR and it was merged too, forgot to close this

[2020-10-08 07:46] #139 closed

[2020-10-08 13:24] rbezerra commented on #151
can i do this?

[2020-10-08 20:17] sachin-duhan26 opened #153 "[ UPDATE ] invalid or missing logos💡"
I recently visited [here](https://firstcontributions.github.io/) and found that many logos ( the list is given below) are either removed by the respective owners or image links are outdated.

🐞 **Problem**
- Invlid logo URL used in
[code]
**The list is as follows**
- ifme [ Line No. - 464 ]
- Game of Life [ Line No. 660 ]
- Light Table [ Line No. 541 ]

🎯 **Goal**

- Updated logo will have a bette

[2020-10-08 21:02] sara-02 commented on #153
@sachin-duhan26 Thanks for reporting this.

[2020-10-08 22:32] sachin-duhan26 commented on #153
@sara-02 can you assign this to me?
I would love to correct this...

[2020-10-09 01:07] #153 closed

[2020-10-17 11:17] Summer-source commented on #1
i would like to work on this.

[2020-10-18 07:14] sara-02 commented on #1
@Summer-source This issue is always open for more contributions, please create a PR with some open source projects you think should be listed but are currently missing.

[2020-12-05 03:55] Emmet-Allen commented on #151
I just want to clarify, you only want to change the "LinkButton" component to a  "LinkButton" functional component?

[2020-12-06 00:19] Emmet-Allen commented on #151
Would you mind assigning me to this issue?

[2021-01-20 18:10] ming-tsai commented on #1
Hi,
I added a new repo on this PR #176

[2021-04-13 19:11] ming-tsai commented on #1
Hi,
I added a new repo on PR #181

[2021-05-04 11:36] badushaebrahim opened #185 "broken logo and other link error"
### broken logo and other link error

🐞 **Problem**
#fix all broken link eg:(gatsby logo link ),and many others

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comments

[2021-05-09 17:09] shivam123-dev commented on #1
Hi,
I am a beginner. I know the basic HTML, CSS and JavaScript. Can anyone tell me if there is any project on which I can contribute to.

[2021-06-04 16:45] Umesh-01 commented on #1
@Roshanjossey It can be any type of **project**?? 🤔
like can we write our **own project** in the list or something big project of a company we have to write??

[2021-06-06 20:59] Roshanjossey commented on #1
Hi @Umesh-01, it can be your own project too. The factors we consider are if the maintainers are beginner friendly and if you have issues beginners can solve without a lot of effort.

[2021-06-13 22:20] wordssaysalot opened #196 "Errors with the logo picture links"
🐞 **Problem**
The React, React Native, Gatsby, and Navy Linux logos are missing.
<hr>

![1](https://user-images.githubusercontent.com/56651899/121823566-adb5e480-ccc3-11eb-9be1-d5b200cba13e.jpg)

![2](https://user-images.githubusercontent.com/56651899/121823567-af7fa800-ccc3-11eb-903b-dba8376942d0.jpg)

[2021-06-20 16:41] Beatrix-droid commented on #196
May I please try to work on this? I am a newcomer to github, and would like to try and fix this as my first issue ever

[2021-06-24 16:11] korbonits commented on #1
Just opened a PR, #199 , to add the Python pandas library to the list of projects. Their `contribute` page has a lot of good-first-issue labeled tickets on it!

[2021-07-02 23:52] #196 closed

[2021-07-02 23:52] #185 closed

[2021-07-31 16:42] khareyash05 opened #204 "additions in contributing.md"
I would like to add following things in contributiong.md or create a new file for the same
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream

🎯 **Goal**
This can be beneficial to use

[2021-08-15 03:21] chrish8510 opened #209 "creating containers folder in src"
🐞 **Problem**
I propose if index.css and index.js can be moved to containers folder after creating containers foler

🎯 **Goal**
It is to organize files better

📋  **Steps to solve the problem**
Move index.css and index.js to containers folder

[2021-09-08 17:15] yo-zubair commented on #1
I've added Codename One to the project list, please review [#213](https://github.com/firstcontributions/firstcontributions.github.io/pull/213). It's a cross-platform framework for Java & Kotlin developers and has quite a few labeled issues for new contributors.

[2021-09-10 07:07] blueskyson commented on #1
Is anyone available to review this? Thanks. #212

[2021-09-18 18:08] aaditya9899 commented on #209
by containers folder mean components folders?? and then creating a index folder and then putting them in it?

[2021-11-02 21:19] rodneycoyer opened #220 "Navbar icon hover UI / UX"
🐞 **Problem**
@MungaiKeren mentioned this in the firstcontributions tutorial project issue#44497. The hover effects aren't appealing and are hard to see.

🎯 **Goal**
* Create a more appealing experience when hovering over the Navbar icons.

💡 **Possible solutions**
* Remove grey background hover effect
* Toggle between white and grey when hovering.

📋  **Steps to solve the problem**
* Modify Navba

[2021-11-15 09:46] Rishi6229 commented on #220
Hey can I work on this issue?

[2021-11-16 12:19] Sonali-Behera commented on #220
Hey @rodneycoyer
Please assign this to me. I can fix this easily.
I will change the color of the icon to their original application color in hovering.

[2021-12-03 10:38] badgujarsachin83 commented on #209
@chrish8510  by containers means components folder. please reply

[2021-12-03 10:40] badgujarsachin83 commented on #220
@rodneycoyer if anyone not work on this issue .please assign this issue to me. i can fix this easily

[2022-01-23 02:29] ammaaraslam commented on #220
Hello @rodneycoyer,
I would be glad to work on this issue.

[2022-01-23 03:16] ammaaraslam commented on #1
I have added 3 projects to the project list: SymPy, PyTorch and Yarn

[2022-02-07 01:02] ding-09 opened #225 "Card Header Image Link Broken"
🐞 **Problem**

The image link for the React Native card is broken.

🎯 **Goal**

Fix it by replacing it with a working image URL

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comm

[2022-03-25 10:32] sadmankiba opened #233 "Slack link no longer active"
The slack link in the website is broken.

🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comments section of pull request.
*   Celebrate your contributio

[2022-04-19 16:26] thng17 commented on #220
Hello @rodneycoyer I would loved to fix this issue.

[2022-05-15 13:15] frazie commented on #204
can I have this task assigned to me?

[2022-05-29 11:14] comhendrik commented on #1
Hello @Roshanjossey. Thank you for the opportunity to start with contributing. I have added Pytest to the list. Please review Pull request #243.

[2022-06-06 15:59] lakshmi930 commented on #225
Can I work on this issue? I notice there are a couple of other broken images too. I can do this together then.

[2022-06-19 21:50] #225 closed

[2022-08-02 23:47] Lorenzobattistela opened #252 "Improve general website design (small fixes)"
🐞 **Problem**
The website is functional and does what it is meant for. However, the design could improve a lot with some simple fixes.
Some of those fixes are:
-  Changing default font of cards text
- Improve Get Started button design (size, margin)
- Adjust spaces between title (Make your first..), navbar and button (spaces are not equal)
- Center navbar (this can be discussed)
- Delete the frase

[2022-08-03 00:24] Roshanjossey commented on #252
Hi @Lorenzobattistela,

Thank you for your interest in this project. I like the suggestions you made.

We're in the process of building a completely new webapp from scratch that would succeed this one.

I'm not trying to discourage you. I'm sure that the things you learn by working on this issue will help you but I wanted to give you the big picture from from maintainers' perspective when you're p

[2022-08-05 09:59] Lorenzobattistela commented on #252
No problem! I already did some code changes and will send the PR anyway, I am just starting to contribute with open source so it is a good learning for me. Thanks

[2022-08-22 21:15] rufilboy opened #255 "Redirect link"
🐞 **Problem**

The "Get started" link

Reduce much time before redirecting
🎯 **Goal**

It takes much time before redirecting to the default branch

They'll have quick access to the github page
💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `

[2022-08-24 16:17] lakshyabhasin509 commented on #233
Can i take this issue?

[2022-09-09 21:28] joeashcraft opened #258 "remove archived/dead projects"
🐞 **Problem**
Some projects are abandoned, and therefore no longer useful for inclusion in this list.
Abandon projects might have historical value, but aren't super useful to folks looking to make a contribution.

Example: https://github.com/freeCodeCamp/mail-for-good

🎯 **Goal**
Keep the projects list current.

💡 **Possible solutions**
Periodically check all projects and remove dead projects.

Ma

[2022-09-20 04:33] natzmonteiro commented on #220
HI @rodneycoyer Is this issue still open?? I would like to work on it.

[2022-09-22 05:52] a-singh09 commented on #209
https://github.com/firstcontributions/firstcontributions.github.io/pull/260#issue-1381856215

[2022-09-26 07:56] PrgVaibhav opened #354 "I can change some parts of the website UI"
🐞 **Problem**
I recently saw your website and I found that many changes can be done on your website for example - the navbar, the icons are too big in it. The main section where all the cards are. And the footer again there were some giant icons. And I think I can make the UI of the website better.

🎯 **Goal**
This change can be very beneficial because right now the website looks ok but if we can

[2022-09-26 18:46] salvador001 commented on #220
please assign this to me

[2022-10-02 03:03] nihal-soni opened #352 "Want to Help you by Improving the UI In Your Website 🎏"
🐞 Problem
I saw Your Website or I thought that I can improve its user interface, there I can make a lot of changes in it now...🎗

🎯 Goal
And this change will be very helpful for you , by changing this thing, your website will start looking user friendly, whoever will visit your website , will going to feel that what a cool website.

💡 Possible solutions
  we can  change the navbar  styling by addi

[2022-10-03 12:37] Roshanjossey commented on #233
fixed in #256

[2022-10-05 07:21] motasimmakki commented on #1
Hey there @Roshanjossey, Hope you are doing great! I just added a [mindsdb](https://github.com/mindsdb/mindsdb) to the list of projects, PR #266.
Kindly review and let me know if any further updates are required!

[2022-10-05 10:00] motasimmakki commented on #1
Just added another super cool repository to learn and contribute to Open Source, [The Algorithms](https://github.com/TheAlgorithms) to the list of projects, PR #267.
Kindly review and let me know if any further updates are required!

[2022-10-06 21:51] joeashcraft commented on #258
as of 15-Sept, all remaining repo's with github.com URLs are not archived ✅

maybe someone smarter than me can figure out how to make a Github Action to test the projects 🤔 (as propsed by @sara-02  a while ago in https://github.com/firstcontributions/firstcontributions.github.io/pull/87#issuecomment-546612446 )

[2022-10-06 21:51] #258 closed

[2022-10-12 19:33] GmausDev commented on #1
Hi @Roshanjossey May i can add a few c# projects?

[2022-10-12 19:50] GmausDev commented on #1
Helo again 🖌️ @Roshanjossey   , just added and amazing repo . [osu!](https://github.com/ppy/osu) PR done #273 . If i can help in any thing ping me!

[2022-10-17 17:30] Danish-Belal commented on #1
I wanna work on it.

[2022-10-20 16:31] avichalsri commented on #1
Hi @Roshanjossey , added a new project [Salt](https://github.com/saltstack/salt) in PR #277. Let me know if you have any questions. Thanks!

[2022-11-10 14:16] DreadKnight commented on #1
Added my open source game project as well:
Ancient Beast
https://AncientBeast.com
https://github.com/FreezingMoon/AncientBeast

See this PR and hopefully merge if all good:
https://github.com/firstcontributions/firstcontributions.github.io/pull/283

[2022-11-19 18:11] Yarnacle opened #284 "Wrong image sources"
🐞 **Problem**

Some of the objects listed in ``src/components/ProjectList/listOfProjects.js`` have an incorrect image source.
For example, the CircuitVerse card on the website looks like this:
![CircuitVerse card](https://iili.io/HHJpbRe.png)

So far, I have noticed the following project cards with the same issue:
* aprenda-go-com-testes

🎯 **Goal**

Properly display projects cards

💡 **Possible s

[2022-11-19 18:29] Yarnacle opened #286 "SimplQ card image does not load"
🐞 **Problem**

The SimplQ card on the website looks like this:
![SimplQ card](https://iili.io/HHdZcZl.png)

🎯 **Goal**

Properly display SimplQ card

💡 **Possible solutions**

Update the SimplQ image source in ``src/components/ProjectList/listOfProjects.js``

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a

[2022-11-19 18:33] Yarnacle opened #287 "aprenda-go-com-testes card does not link to the project repo"
🐞 **Problem**

(title)

🎯 **Goal**

Make the aprenda-go-com-testes project more accessible to users looking to contribute

💡 **Possible solutions**

In ``src/components/ProjectList/listOfProjects.js``, the aprenda-go-com-testes object does not have a ``projectLink`` property. It does, however, have a ``githubLink`` property, so I suppose the creator of the card confused ``projectLink`` for ``githu

[2022-11-21 04:13] simonletort-da commented on #1
Added [Daml](https://github.com/digital-asset/daml), please review PR #288.